* {
  /* padding: 0;
  margin: 0; */
  box-sizing: border-box;
}

body {
  background-color: #22254b;
  min-height: 100vh;
  font-family: sans-serif;
}
.card {
transition: bottom 0.3s ease;
}
.movie:hover .card {
bottom: 0;
}

